@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1A1C1A;
  --secondary: #5F5E5E;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #B48832;
  --color-secondary: #5F5E5E;
  --color-background-secondary: #F4F3F1;

  --background-image-gradient-primary: linear-gradient(to bottom right, #7E5300, #9D6A0C);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
